# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Python Cache
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Virtual Environments
# -----------------------------
.env
.venv
venv/
stress detection system_ml/



# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db
